/* Header */
.header-height-1 {
    min-height: auto;
}

.main-menu > nav > ul > li > a {
    color: var(--primario);
    font-weight: 500;
    line-height: 120px;
    display: inline-block;
    position: relative;
}

.logo a img {
    max-width: 100%;
    width: 11vw;
}

@media (max-width: 991px) {
    .logo a img {
        width: 22vw;
    }
}

@media (max-width: 767px) {
    .logo a img {
        width: 35vw;
    }
}

.icon-menu {
    color: var(--primario);
    padding-right: 1rem;
}

@media (max-width: 991px) {
    .icon-menu {
        font-size: 3rem;
    }
}
@media (max-width: 767px) {
    .icon-menu {
        font-size: 2rem;
    }
}
/* Inicio */
.home__circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid var(--naranja);
}
.home__card {
    border-radius: 2rem;
    min-height: 20rem;
}
.home__img-card {
    width: 6vw;
}
@media (max-width: 991px) {
    .home__img-card {
        width: 12vw;
    }
}
@media (max-width: 767px) {
    .home__img-card {
        width: 19vw;
    }
}
